p {
    color: red;
    font-size: 24px;
    background-color: yellow;
}

.a1 {
    color: orange;
    font-size: 18px;
    background-color: blue;

}

/* id selector */
#i1 {
    color: navy;
    font-size: 48px;
    background-color: rgb(0, 255, 64);
}